<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css "href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>
	body{
		background: url(http://www.nomaddesignlab.com/higuma/background.jpg);
		background-size:cover;

	}
	 .cust-btn {
        width: 300px;
        border-radius: 0;
        background-color: rgba(121, 142, 255, 0.3);
        color: white;
      }
      .cust-btn:hover {
        width: 300px;
        border-radius: 0;
        background-color: rgba(121, 151, 232, 0.6);
        color:; 
        border: solid 1px blue;
      }

      .cust-btn:active, .cust-btn:focus {
        width: 300px;
        border-radius: 0;
        background-color: rgba(121, 151, 232, 0.6);
        color: black; 
        border: solid 1px blue;
        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
      }
	.cust-navbar {
        background-color: rgba(0, 0, 0, 0.0); 
        border: none;
      }
      .nbtn{
      	background-color: rgba(121, 151, 232, 0.8);
      	color:white;
      }
      a:hover{
      	text-decoration: none;
      	color: gray;
      }
      a{
      	text-decoration: none;
      	color: white;
      }
      .bnav{
      	margin-left: 50px;
      	background-color: rgba(121, 151, 232, 0.8);
      	color: white;
      }
      .urlimg{
      	margin-top: 60px;
      	margin-bottom: 
      }
      .user {
      	color:white;
      }
      .favs{
        display: inline
        float: center;
        
      }
</style>
</head>
<body>
	<nav>
	<div class="navbar navbar-default cust-navbar navbar-fixed-top" >
      
        <a href="/"><button type="button" class="btn btn-default navbar-btn nbtn pull-left">Home</button></a>
        <a href="/search"><button type="button" class="btn btn-default navbar-btn nbtn pull-left">Search</button></a>
        <a href="/profile"><button type="button" class="btn btn-default navbar-btn nbtn pull-left">Profile</button></a>
        

        <h2 class="navbar pull-right user">Username: <%= user.userName %></h2>
		<h2 class="navbar text-center user">Hi,<%= user.firstName %> <%= user.lastName %></h2>	
    </div>
</nav>
<nav class="navbar navbar-default cust-navbar navbar-fixed-bottom" width="95%">
	<h2 class="navbar pull-left user"><%= user.email %></h2>
	<form  method="POST" action="/logout?_method=DELETE">
			<button type"button" class="btn btn-default navbar-btn pull-right bnav">Logout</button>
		</form>
</nav>

	
	
	
	
	
	

	<div class="favs">
		<% images.forEach(function(image) { %>
			
      <img src="<%=image.imgurl%>" width="300" class="img-responsive img-rounded center-block urlimg" alt="Responsive image">
			<form method="POST" action="/unfavorite?_method=DELETE">
				<input type="hidden" name="imgurl" value="<%= image.imgurl %>">
				<button class="btn btn-primary cust-btn center-block responsive">Remove</button><br/>
			</form>

		<% }) %>
  
	</div>
	
</body>
</html>